$font-stack: Arial, arial;
$primary-color: #333;

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  margin: 25px;
  color: white;
  white-space: pre-wrap;
  overflow-x: hidden;
  overflow: hidden;

}

.rectangle {
  height: auto;
  width: 340px;
  //background-color: #555;
  background-image: linear-gradient(#464d55, #25292e);
  position: fixed;
  top: 15px;
  right: 15px;
  border-radius: 10px;
}

button {
  position: fixed;
  font-size: 16px;
  color: white;
  z-index: 10;
  flex: 1;
  cursor: pointer;
  //background-color: rgb(99, 99, 99);

  padding: 5px;
  border-radius: 4px;
  display: flex;
  align-items: stretch;
}


header {
  font-size: 16px;
}

.button-84 {
  align-items: center;
  background-color: initial;
  background-image: linear-gradient(#464d55, #25292e);
  border-radius: 6px;
  border-width: 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .1),0 3px 6px rgba(0, 0, 0, .05);
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  flex-direction: column;
  font-family: expo-brand-demi,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 16px;
  height: 32px;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  overflow: hidden;
  padding: 0 32px;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all 150ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-84:hover {
  box-shadow: rgba(0, 1, 0, .2) 0 2px 8px;
  opacity: .85;
}

.button-84:active {
  outline: 0;
}

.button-84:focus {
  box-shadow: rgba(0, 0, 0, .5) 0 0 0 3px;
}

@media (max-width: 420px) {
  .button-84 {
    height: 48px;
  }
}
